/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */

/* This file is in use when 'use_full_hack_font = false' in config.toml*/

/* Adding Config Rounded font (https://en.bestfonts.pro/font/config-rounded) */
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedSemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  /* Use full version (not a subset) for unicode icon support */
  src: url("fonts/hack-regular-subset.woff2?sha=3114f1256") format("woff2"),
    url("fonts/hack-regular-subset.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-bold-subset.woff2?sha=3114f1256") format("woff2"),
    url("fonts/hack-bold-subset.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-italic-subset.woff2?sha=3114f1256") format("woff2"),
    url("fonts/hack-italic-webfont.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-bolditalic-subset.woff2?sha=3114f1256") format("woff2"),
    url("fonts/hack-bolditalic-subset.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: italic;
}
