/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */

/* This file is in use when 'use_full_hack_font = true' in config.toml*/

/* Adding Config Rounded font (https://en.bestfonts.pro/font/config-rounded) */
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Config Rounded";
  src: url("fonts/ConfigRoundedSemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RecVar";
  src: url("fonts/RecVar1085.woff2") format("woff2");
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-regular.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-bold.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-italic.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-bolditalic.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: italic;
}
