@import "variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Config Rounded", Hack, system-ui, sans-serif;
  font-weight: 400;
  font-feature-settings: "liga", "kern";
  font-size: 1.08rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  @media (max-width: $phone-max-width) {
    font-size: 1.1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 1.3;

  .zola-anchor {
    font-size: 0.9rem;
    visibility: hidden;
    margin-left: 0.5rem;
    vertical-align: 1%;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;

    @media (max-width: $phone-max-width) {
      visibility: visible;
    }
  }

  &:hover {
    .zola-anchor {
      visibility: visible;
    }
  }
}

title {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 1.15rem;
}

a {
  color: inherit;
  text-underline-offset: 2px;
  text-decoration-color: var(--accent-alpha-70);
}

/* Strikethrough */
del {
  color: var(--strikethrough-color);
}

/* Highlight */
mark {
  background-color: var(--background);
  color: var(--accent);
}

img {
  display: block;
  /*width: 100%;*/
  height: auto;
  max-width: 100%;
  border-radius: 4px;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

img.gif {
  display: block;
  margin: 0 auto; // Center the GIF
  width: 100%; // Default to full width
  max-width: 480px; // Limit the maximum width to 480px
  height: auto; // Maintain aspect ratio

  @media (max-width: 768px) {
    max-width: 300px; // Reduce size for smaller screens
  }
}

.home-title {
  h1 {
    justify-content: center;
  }

  img {
    border-radius: 50%;
    margin: 12px 0;
    border: 4px solid var(--accent);
    display: block;
    width: 100%;
    max-width: 256px;
    /*actual image width*/
    height: auto;
    /* maintain aspect ratio*/
    margin: auto;
    /*optional centering of image*/
  }
}

.center-text {
  text-align: center;
  font-size: 1.8rem;
  opacity: 0.5;
  color: var(--light-color-secondary);
}

p {
  margin-bottom: 20px;
}

figure {
  display: table;
  height: auto;
  width: 100%;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    img {
      margin-right: auto;
    }
  }

  &.center {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.right {
    img {
      margin-left: auto;
    }
  }

  figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: var(--accent);
    color: var(--background);

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

figure img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height); // Fallback for browsers that support it
}

code {
  font-family: Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  font-feature-settings: normal;
  background: var(--accent-alpha-20);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: 0.85rem;
}

pre {
  font-family: Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  padding: 20px;
  font-size: 0.95rem;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  @media (max-width: $phone-max-width) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    padding: 0;
    margin: 0;
    background: none;
  }
}

blockquote {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (max-width: $phone-max-width) {
    padding-right: 0;
  }

  &:before {
    content: "â€";
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:before {
    content: ">";
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table,
th,
td {
  border: 1px dashed var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul,
ol {
  margin-left: 30px;
  padding: 0;

  li {
    position: relative;
    vertical-align: middle;
  }

  @media (max-width: $phone-max-width) {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  margin: 0 auto;

  @media (max-width: $phone-max-width) {
    padding: 20px;
  }
}

.content {
  display: flex;
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}

.console_blink {
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: #2098d1;
  color: white;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: center; // center tags horizontally
}

.interests .tag {
  display: inline-flex;
  align-items: center;
  vertical-align: middle; // Align tags themselves in the row
  background: var(--border-color);
  padding: 0px 12px;
  margin: 4px;
  border: 2px solid var(--accent-alpha-20);
  border-radius: 6px;
  white-space: nowrap;
  gap: 0.4em;
  line-height: 2em; // consistent height
  min-height: 2em; // consistent height
}

.interests .icon {
  display: block;
  margin: 0;
  height: 1.2em; // scale image to match text
  width: auto;
}
