:root {
  --accent: rgb(120, 226, 160);
  --accent-alpha-70: rgba(120, 226, 160, 0.7);
  --accent-alpha-30: rgba(120, 226, 160, 0.3);
  --accent-alpha-50: rgba(120, 226, 160, 0.5);
  --accent-alpha-20: rgba(120, 226, 160, 0.2);

  --background: #1f222a;
  --color: white;
  --border-color: rgba(255, 255, 255, 0.1);

  --strikethrough-color: rgba(255, 255, 255, 0.6);
  --highlight: rgb(255, 168, 106);
}
