{% import "macros/date.html" as date_macros -%} {% import "macros/head.html" as
head_macros -%} {% import "macros/menu.html" as menu_macros -%} {% import
"macros/post.html" as post_macros -%} {% import "macros/title.html" as
title_macros -%}

<!DOCTYPE html>
<html lang="{%- if config.default_language -%}{{ config.default_language }}{%- else -%}en{%- endif -%}">

<head>
  <title>{%- block title %}{{ config.title }}{% endblock title -%}</title>
  {{ head_macros::head(config=config) }} {%- if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{
    get_url(path=" rss.xml") | safe }}"> {% endif -%} {%- if
  config.extra.favicon %}
  <link rel="shortcut icon" type="{{
    config.extra.favicon_mimetype | default(value=" image/x-icon") }}" href="{{
    config.extra.favicon | safe }}"> {% endif -%} {%- block extra_head %} {%
  endblock extra_head -%}
</head>

<body class="">
  <div class="container">
    {% block header %}
    <header class="header">
      <div class="header__inner">
        <div class="header__logo">
          {%- if config.logo_home_link %} {% set logo_link =
          config.logo_home_link %} {% else %} {% set logo_link =
          config.base_url %} {% endif -%}
          <a href="{{ logo_link | safe }}" style="text-decoration: none">
            <div class="logo">
              {% block logo_content %} {%- if config.extra.logo_text %} {{
              config.extra.logo_text }} {% else %} Terminimal theme {% endif
              -%} {% endblock logo_content %}
              <span class="console_blink">_</span>
            </div>
          </a>
        </div>
      </div>

      {% block header_menu %} {{ menu_macros::menu(config=config,
      current_path=current_path) }} {% endblock header_menu %}
    </header>
    {% endblock header %}

    <div class="content">
      {% block content %}
      <div class="post">
        <div class="home-title">
          <img src="/img/hi.webp" alt="Hi" width="40" height="40" />
          <h1>Hi, I'm&nbsp;<mark>Dan</mark></h1>
        </div>
        <div class="center-text">❦</div>
          <p>DevOps team lead in <strong>Dublin, Ireland.</strong>
            Leading a team to deliver software changes quickly while <i>hopefully</i> not breaking things.</p>
          <p>Some current tools and technologies that I enjoy using, and am currently working with:</p>
          <div class="interests">
            <span class="tag">♾️ CI / CD</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-jenkins.svg" alt="Jenkins" /> Jenkins</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-linux-24.svg" alt="Linux" /> Linux / Unix</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-azure-24.svg" alt="Azure" /> Azure</span>
            <span class="tag">🦀 Rust</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-terraform-24.svg" alt="Terraform" /> Terraform</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-nixos.svg" alt="Shell" /> NixOS</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-terminal.svg" alt="Shell" /> Shell scripting</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-powershell.svg" alt="Powershell" /> Powershell</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-docker.svg" alt="Docker" /> Docker</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-azure-devops.svg" alt="Azure DevOps" /> Azure DevOps</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-proxmox.svg" alt="Proxmox" /> Proxmox</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-python-24.svg" alt="Python" /> Python</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-java.svg" alt="Java" /> Java</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-ant-24.svg" alt="Ant" /> Ant</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-golang.svg" alt="Golang" /> Golang</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-android.svg" alt="Android" /> Android</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-raspberry-pi.svg" alt="Raspberry Pi" /> Raspberry Pi</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-maven.svg" alt="Maven" /> Maven</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-sonarqube.svg" alt="SonarQube" /> SonarQube</span>
            <span class="tag"><img class="icon" src="/img/icons/icon-splunk.svg" alt="Splunk" /> Splunk</span>
          </div>

          <p>And some I dont enjoy quite as much: 😐</p>
          <div class="interests">
            <span class="tag"><img class="icon" src="/img/icons/icon-oracle.svg" alt="weblogic" /> Oracle
              Weblogic</span>
          </div>

          <p>I don't get to update the content on this website half as much as I'd like.
            Recently I've been spending more time adjusting styling,
            and playing with <a href="https://keats.github.io/tera/" target="_blank">Tera</a> templates.
            The Homelab is also continuing to grow.
          </p>
      </div>
      {% endblock content %}
    </div>

    {% block footer %}
    <footer class="footer">
      <div class="source">
        <span>{{ config.extra.copyright_html | safe }}<br /></span>
        <span>{{ date_macros::now_year() }} | {{ config.extra.author }}<br /></span>
        <div class="timestamp"><a href="https://github.com/ragebflame/ragebflame.pages.dev" target="_blank">Source
            code</a> :: Cached @ {{ date_macros::timestamp() }}<br /></div>
      </div>
    </footer>
    {% endblock footer %}
  </div>
  {%- block extra_body %} {% endblock extra_body -%}
</body>

</html>
